# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=palbum
MYSQL_USER=palbum_user
MYSQL_PASSWORD=palbum_password

# Application
GIN_MODE=debug
PORT=8080

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=palbum_user
DB_PASSWORD=palbum_password
DB_NAME=palbum

# Firebase
FIREBASE_CREDENTIALS_PATH=./config/firebase-credentials.json
FIREBASE_PROJECT_ID=project-id

# Google API
GEMINI_API_KEY=gemini-api-key

# Google Map
GOOGLE_MAPS_API_KEY=google-maps-api-key

# JWT
JWT_SECRET=secret-key
